caption {
	caption-side: bottom;
	padding: 5px;
	font-size: 2em;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 20%;
	margin: auto;
}

th,
td {
	border: 1px solid black;
	padding: 40px;
}
.blå {
	background-color: blue !important;
}
.rött {
	background-color: red !important;
}
.gul {
	background-color: yellow !important;
}
.svart {
	background-color: black !important;
}
.grön {
	background-color: greenyellow !important;
}
